<h2>Reset Password</h2>
<div class="outer">
  <div class="inner">
    Enter in your email address and we will email you a link to reset your password.
    Please be patient. This may take a few minutes.
    <div class="password-box">
    <%= form_tag password_reset_path, method: :post do %>
        <%= text_field_tag :email, params[:email], placeholder: "email" %>
        <%= submit_tag "Reset Password", class: "btn" %>
    <% end %>
    </div>
    <%= link_to "Back to Log In", login_path %>
  </div>
</div>
