<h2><%= @user.name %>'s Profile Page</h2>

<h3>Current Lists:</h3>
<% @user_lists.each do |list| %>
    <%= link_to list.name, relationship_path(list.id) %>
<% end %>

<h3><%= link_to "Start a New List", relationships_path, method: :post %></h3>
