/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* GLOBAL */

body {
  font-family: Futura, Helvetica;
  background-image: url(light-wood-background.jpg);
}

.desk {
  padding-bottom: 50px;
}

footer {

}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  color: #444;
}

h2 {
  font-family: 'Cedarville Cursive', cursive;
  color: #444;
  text-align: center;
}

h3 {
  font-family: Futura, Helvetica;
  color: #444;
  text-align: center;
}

header {
  margin-top: 15px;
  margin-bottom: 100px;
  padding-left: 20px;
}

.outer {
  width: 100%;
  text-align:center;
}

.inner {
  display: inline-block;
}

.create-list {
  margin-top: 15px;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 20px;
}

/* LOG IN */

.authenticate {
  padding-top: 50px;
}

.notice {
  color: #006600;
  font-family: Futura, Helvetica;
  font-size: 15px;
  text-align: center;
}

/* LINKS */

a {
  color: #444;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: dotted;
  font-family: 'Cedarville Cursive', cursive;
}

a:hover, a:focus {
  font-weight: bold;
  text-decoration: none;
  color: #b71d1d;
}

/* BUTTONS */

.btn {
  background: #444;
  background-image: -webkit-linear-gradient(top, #444, black);
  background-image: -moz-linear-gradient(top, #444, black);
  background-image: -ms-linear-gradient(top, #444, black);
  background-image: -o-linear-gradient(top, #444, black);
  background-image: linear-gradient(to bottom, #444, black);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 10px;
  color: #ffffff;
  font-family:'Cedarville Cursive', cursive;
  font-size: 15px;
  padding: 3px 8px 3px 8px;
  text-decoration: none;
  margin: 5px 0 5px 0;
}

.btn:hover, .btn:focus {
    background: linear-gradient(to right,#C72B0C,#BD2716);
    color: white;
}
/* PASSWORD RESET */

.password-box {
  padding: 5px 0;
  margin-bottom: 10px;
}

/* USER SHOW PAGE */

.new-list {
  padding-top: 25px;
}

.account {
  padding-top: 25px;
}

/* RELATIONSHIP SHOW PAGE */

.partners {
  padding-top: 50px;
  font-family:'Cedarville Cursive', cursive;
  list-style: none;
  padding-left: 0;
}

.partners li {
  font-family: Futura, Helvetica;
  display: inline;
}

thead tr {
  font-size: 125%;
  text-align: center;
}

.activities {
  margin-top: 100px;
}

.answered {
  text-decoration: line-through;

}

.paper {
  background-image: url(lined-paper-background-yellow.jpg);
  background-size: 100%;
  width: 60%;
  min-height: 600px;
  min-width: 400px;
  margin-bottom: 25px;
  margin: auto;
}

.invite {
  margin-top: 25px;
  margin-bottom: 25px;
}

.notes {
  width:400px;
  height: 275px;
  padding-left: 0;
  border: 1px solid #ccc;
}

input[type="text"] {
  padding: 5px 0;
  margin-bottom: 10px;
}

input[type="password"] {
  padding: 5px 0;
  margin-bottom: 10px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: line-through;
}

.remove-list {
  margin-top: 50px;
}

/*

.reset-box-style {
  background-color: orangered;
  padding: 10%;
  margin: 10%;
}

.gray-back {
  opacity: .5;
}

*/